/.*authority
/.*_history
/*~
/#*

/*
/.ssh/id_rsa
/.cache
/.config/*
/.emacs.d/*
!/.config/i3/*
!/.config/systemd/*
!/.config/terminator
!/.emacs.d/init.el
!/.emacs.d/custom-settings.el
!/scripts
!/bin
!/.ssh/
!/.emacs
!/.Xdefautls
!/.Xresources
!/.xsession
!/.xscreensaver
!/.tmux.conf
!/.bashrc
!/.zshrc
!/.xxkbrc
!/.gitignore
/.emacs.d/custom-settings.el
/.ssh/known_hosts
/.ssh/authorized_keys
/bin/.*
