/.*authority
/.*_history
/*~
/#*

/.cache
/.config/*
!/.config/i3/
/.emacs.d/*
!/.emacs.d/init.el
!/.emacs.d/custom-settings.el
/*
!/scripts
!/bin
!/.ssh/
/.ssh/id_rsa
!/.emacs
!/.Xdefautls
!/.Xresources
!/.xsession
!/.xscreensaver
!/.tmux.conf
!/.bashrc
!/.zshrc
!/.gitignore
/.ssh/known_hosts
